.containerSignIn {
  position: fixed;
  min-width: 320px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-image: url("https://picsum.photos/1920/1080");

  .signInHeader {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    flex: 0.5;
    color: black;
    padding: 10px;
    .btn {
      text-transform: unset !important;
      color: white;
      .icon {
        margin-left: 15px;
      }
    }
  }
  .signInBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 10;

    .signInForm {
      display: flex;
      height: 50vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
      border-radius: 20px;
      background-color: rgba($color: #ffffff, $alpha: 1);
    }
  }
  .signInFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }
}
